/* #region - CSS reset  */

/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/

*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

#root, #__next {
  isolation: isolate;
}

/* #endregion */

/* #region - Navigation */

.navbar {
  background-color: rgba(255, 255, 255, 0.6);
  backdrop-filter: blur(10px);
  position: fixed;
  width: 100%;
  z-index: 1;
}

.navbar-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  max-width: 1080px;
  margin: 0 auto;
  padding: 12px 0px;
}

.logo {
  width: 30px;
  height: 30px;
}

.nav-links ul {
  margin: 0;
  padding: 0;
  display: flex;
  gap: 2rem;
  list-style-type: none;
}

.navbar li a {
  text-decoration: none;
  color: #001021;
}

.theme-and-burger {
  display: flex;
  gap: 8px;
}

.burger-menu {
  position: relative;
  width: 24px;
  height: 24px;
  display: none;
  cursor: pointer;
}

.burger-menu span {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 3px;
  background-color: black;
  border-radius: 3px;
  transition: all 0.3s ease;
  transform: translate(-50%, -50%);
  transform-origin: center;
}

.burger-menu span:nth-child(1) {
  transform: translate(-50%, -10px);
}

.burger-menu span:nth-child(2) {
  transform: translate(-50%, 0);
}

.burger-menu span:nth-child(3) {
  transform: translate(-50%, 10px);
}

.burger-menu.open span:nth-child(1) {
  transform: translate(-50%, 0) rotate(45deg);
}

.burger-menu.open span:nth-child(2) {
  transform: translate(-50%, 0) scaleX(0);
  opacity: 0;
}

.burger-menu.open span:nth-child(3) {
  transform: translate(-50%, 0) rotate(-45deg);
}

@media (max-width: 767px) {

  .navbar-content {
    flex-wrap: wrap;
  }

  .logo {
    flex: 1 0 50%;
    display: flex;
    align-items: center;
  }
  
  .logo a {
    display: inline-block;
  }

  .nav-links {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(255, 255, 255, 1);
    padding: 10px 0;
    visibility: hidden;
    opacity: 0;
    transform: translateY(-10px);
    pointer-events: none;
    transition: opacity 0.3s ease, transform 0.3s ease, visibility 0s linear 0.3s;
  }

  .nav-links.open {
    visibility: visible;
    opacity: 1;
    transform: translateY(0);
    pointer-events: auto; 
    transition: opacity 0.3s ease, transform 0.3s ease, visibility 0s linear 0s;
  }

  .nav-links ul {
    flex-direction: column;
    align-items: stretch;
    gap: 0.5rem;
  }

  .nav-links ul li {
    text-align: center;
    padding: 8px;
  }

  .navbar-content :nth-child(2) {
    order: 3;
  }

  .burger-menu {
    display: block;
  }

  .navbar.open {
    background-color: rgba(255, 255, 255, 1);
  }

}

/* #endregion */

/* #region - Hero Section */

.hero-section {
  padding: 125px 0px 125px;
  overflow-y: hidden;
  overflow-x: clip;
}

.hero-section .content-container {
  position: relative;
  display: flex;
  flex-direction: row;
  gap: 100px;
  align-items: center;
  justify-content: center;
}

#i-am-text {
  display: flex;
  flex-direction: row;
  gap: 0.75em;
}

.hero-section p {
  font-size: 20px;
}

/* #region - Typewriter */

#typewriter-container {
  display: inline-block;
  white-space: nowrap;
}

#typewriter {
  position: relative;
}

#typewriter::after {
  position: absolute;
  top: 10%;
  right: -10px;
  content: "";
  width: 6px;
  height: 80%;
  background-color: black;
  animation: blink 0.75s steps(1) infinite;
}

@keyframes blink {
  50% {opacity: 0;}
}

/* #endregion */

/* #region - Blobs */

.blob {
  width: 500px;
  aspect-ratio: 1/1;
  background-color: #606f9e;
  position: absolute;
  top: -175px;
  right: -200px;
  z-index: -2;
  border-radius: 30% 70% 70% 30% / 30% 40% 70% 70%;
  filter: blur(75px);
  animation: transform 12s linear infinite, 
  rotate 12s linear infinite,
  colorChange 6s ease-in-out infinite alternate;
}

@keyframes rotate {
  0% {transform: rotate(0deg);}
  100% {transform: rotate(360deg);}
}

@keyframes transform {
  0%, 
  100% { border-radius: 30% 70% 70% 30% / 30% 40% 70% 70%; }
  20% { border-radius: 40% 65% 50% 50% / 40% 35% 35% 65%; } 
  40% { border-radius: 30% 65% 65% 35% / 65% 50% 50% 25%; } 
  60% { border-radius: 40% 65% 50% 50% / 30% 30% 70% 75%; } 
  80% { border-radius: 40% 60% 40% 60% / 50% 50% 50% 60%; } 
}

@keyframes colorChange {
  0%,
  50% {background-color: #5772C9}
  100% {background-color: #606f9e}
}

.blob.two {
  position: absolute;
  top: 65%;
  left: -175px;
}

/* #endregion */

@media (max-width: 767px) {
  .hero-section .content-container {
    flex-direction: column;
    gap: 50px;
  }

  .hero-section {
    padding: 105px 20px 60px;
  }

  #hero-text, #i-am-text {
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 4px;
  }

  #hero-text p {
    margin-top: 1em;
  }
}

/* #endregion */

html {
  background: #EFF5FB;
}

.content-container {
  max-width: 1080px;
  margin: auto;
}

@media (max-width: 1120px) {
  
  .navbar-content {
    margin: 0 20px;
  }

  .hero-section .content-container {
    margin: 0 20px;
  }

}