/* #region - <a> tags as buttons */

.button {
  font-family: 'Figtree', sans-serif;
  font-size: 16px;
  line-height: 20px;
  padding: 8px 16px;
  border-radius: 4px;
  border: none;
  color: var(--button-text-color);
  background-color: var(--button-bg-color);
  text-decoration: none;
  transition: background-color 0.5s ease;
}

.button:hover {
  background-color: var(--button-hover-color);
}

.button:active {
  background-color: var(--button-active-color);
}

.large {
  border-radius: 8px;
  padding: 12px 20px;
}

.button.wide {
  width: 150px;
  text-align: center;
}

.button.ghost {
  color: var(--ghost-button-color);
  background-color: transparent;
}

.button.ghost:hover {
  background-color: var(--ghost-button-hover);
}

html.dark .button:not(.ghost) {
  background-color: var(--tertiary-color);
}

html.dark .button:not(.ghost):hover {
  background-color: var(--secondary-color);
}

/* #endregion */

/* #region - Card dispay toggle buttons */

.display-control button {
  display: flex;
  justify-content: center;
  align-items: center;
  aspect-ratio: 1/1;
  height: 40px;
  background: var(--button-inactive-color);
  cursor: pointer;
}

.display-control-btn.active {
  background-color: var(--button-bg-color);
  pointer-events: none;
}

.display-control-btn:not(.active):hover {
  background: var(--button-hover-color);
}

.display-control-btn svg {
  color: var(--button-text-color);
}

/* #endregion */