.case-card {
  display: flex;
  align-items: center;
  width: 100%;
  border-radius: var(--border-radius-l);
  background-color: var(--card-background);
  box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.25);
  overflow: hidden;
  transition: background-color 0.5s ease;
}

.case-thumbnail {
  padding: 1.5rem;
  align-self: stretch;
  width: 400px;
  flex-shrink: 0;
  /* max-height: 300px; */
  max-width: 100%;
  opacity: 1;
  transition: all 0.01s ease;
  overflow: hidden;
}

.case-thumbnail img {
  border-radius: calc(8px + 0.5rem);
  max-height: 100%;
  object-fit: cover;
  transition: all 0.01s ease;
}

.case-content {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  padding: 2rem 2rem 2rem 1rem;
}

.case-information {
  display: flex;
  flex-direction: column;
  gap: 1em;
  color: var(--text-color);
}

.tags-and-button {
  display: flex;
  gap: 0.5em;
  justify-content: space-between;
  align-items: center;
  color: var(--card-tags);
}

.tag-container {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 0.5em;
}

.case-card-text,
.tag-container {
  /* max-height: 120px; */
  max-width: 100%;
  opacity: 1;
  transition: all 0.01s ease;
  overflow: hidden;
}

.tag-container p:nth-child(2)::before,
.tag-container p:nth-child(3)::before {
  content: "\2022";
  margin-right: 0.5em;
}

@container (max-width: 736px) {
  .case-card {
    flex-direction: column;
  }

  .case-thumbnail {
    width: 100%;
  }

  .case-thumbnail img {
    /* height: 272px; */
    object-fit: cover;
    width: 100%;
  }

  .case-content {
    padding: 1.5rem;
    width: 100%;
  }
}

/* #region - Small cards*/

.card-container.view-small {
  flex-direction: row;
  flex-wrap: wrap;
}

.view-small .case-card {
  flex-direction: row;
  flex: 1 1 calc(50% - 20px);
  max-width: calc(50% - 20px);
  min-width: 304px;
}

.view-small .case-card-text,
.view-small .tag-container {
  max-height: 0;
  max-width: 0;
  opacity: 0;
}

.view-small .case-thumbnail {
  padding: 0rem;
  max-width: 50%;
}

.view-small .case-thumbnail img {
  height: 100%;
}

.view-small .case-card h1 {
  font-size: 1.25rem;
  line-height: 1.8;
  padding: 0px;
}

.view-small .case-content {
  padding: 1.5rem;
  flex: 1;
}

.view-small .tags-and-button {
  justify-content: flex-end;
}

@container (max-width: 687px) {
  .view-small .case-card {
    flex: 1 1 100%;
    max-width: 100%;
  }
}

/* #endregion*/

/* #region - Row cards*/

.card-container.view-row {
  flex-direction: column;
  gap: 0rem;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.25);
}

.view-row .case-card:not(:first-child):not(:last-child) {
  border-top: 1px solid #CCC;
  border-bottom: 1px solid #CCC;
}

.view-row .case-card {
  box-shadow: none;
  border-radius: 0rem;
}

.view-row .case-card-text,
.view-row .tag-container,
.view-row .case-thumbnail {
  opacity: 0;
  max-height: 0;
  max-width: 0;
  overflow: hidden;
  padding: 0;
}

.view-row .case-card-text {
  display: none;
}

.view-row .case-content {
  flex-direction: row;
  flex-grow: 1;
  justify-content: space-between;
  padding: 1.025em 1.778em;
}

.view-row .case-content h1 {
  font-size: 1.125rem;
  font-weight: normal;
}

.view-row .case-information {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0rem;
}

/* #endregion */