.skills-section,
.experience-section {
  background-color: white;
}

/* #region - About me - Hero section */

.about-me-hero {  
  padding-bottom: 40px
}

.about-me-hero .content-container,
.personal-text .content-container {
  display: flex;
  flex-direction: row;
  gap: 100px;
  align-items: center;
}

#about-me-hero-img {
  max-width: 350px;
}

.about-me-intro {
  display: flex;
  flex-direction: column;
}

/* #endregion */

/* #region - About me - Skills section */

.skills-section {
  padding: 40px 0px;
}

.skills-section .content-container {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.skills-section .section-header,
.personal-section .section-header,
.experience-section .section-header,
.education-section .section-header {
  display: flex;
  align-items: center;
  gap: 40px;
}

.section-header::after,
.experience-section .section-header::before {
  content: "";
  flex: 1;
  height: 1px;
  background: #001021;
}

.section-header.no-after::after {
  content: none;
}

/* #region - Skill container */

.skill-container-wapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 40px;
}

.skill-container {
  display: flex;
  flex: 1 1 0;
  flex-direction: column;
  padding: 16px;
  border-radius: 20px;
  background-color: beige;
  max-width: 350px;
  min-width: 300px;
}

.skill-container li {
  padding-top: 8px;
}

.skill-container h2::after {
  content: "";
  display: block;
  width: 75%;
  height: 1px;
  margin: 8px auto;
  background: #001021;
}

.skill-container ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

/* #endregion */

/* #endregion */

/* #region - About me - About me section */

.personal-section {
  padding: 40px 0px;  
}

.personal-section .content-container {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.personal-content {
  display: flex;
  align-items: center;
  gap: 100px;
} 

#about-me-working {
  max-width: 315px;
  border-radius: 24px;
}

.personal-text p:nth-child(2){
  margin: 8px 0px;
}

/* #endregion */

/* #region - About me - Experience & Education section */

.experience-section {
  padding: 40px 0px;
}

.education-section {
  padding: 40px 0px 60px 0px;
}

.experience-section .content-container,
.education-section .content-container {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.experience {
  background-color: #EFF5FB;
  padding: 24px;
  border-radius: 12px;
  box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.15);
}

.education {
  background-color: white;
  padding: 24px;
  border-radius: 12px;
  box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.05);
}

.experience-container,
.education-container {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  margin: auto;
  align-items: stretch;
  gap: 40px;
}

.experience,
.education {
  display: flex;
  align-items: flex-start;
  gap: 24px;
}

.experience-content {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.experience-header,
.education-header {
  display: flex;
  gap: 12px;
}

.position,
.university {
  font-weight: bold;
}

/* #endregion */

@media (max-width: 767px) {
  .about-me-hero .content-container,
  .personal-content {
    flex-direction: column;
    gap: 50px;
    text-align: center;
  }

  .about-me-hero img {
    order: 3;
  }
}

@media (max-width: 550px) {
  .experience {
    flex-direction: column;
    align-items: center;
  }

  .experience-header,
  .education-header {
    flex-direction: column;
    align-items: center;
    gap: 8px;
    margin-bottom: 8px;
  }
}