.header-and-display-control {
  display: flex;
  justify-content: space-between;
  align-items: center;

  color: var(--text-color);
}

.display-control {
  display: flex;
  border-radius: var(--border-radius-xs);
  overflow: hidden;
}

.cases-page .content-container {
  display: flex;
  flex-direction: column;
  gap: var(--space-xl);
}

.card-container {
  display: flex;
  flex-direction: column;
  gap: var(--space-xl);
  container-type: inline-size;

  margin-bottom: var(--space-xl);

  transition: opacity 0.2s ease;
  opacity: 1;
}

.card-container.fade-out {
  opacity: 0;
  pointer-events: none;
}

