.contact-page .content-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

body.contact-page {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* #region - Contact element */

.contact-page .content-container {
  padding-top: calc(1.5rem + (2 * var(--space-sm)) + max(var(--space-m), 40px));
  padding-bottom: max(var(--space-m), 40px);
}

.contact-element {
  display: flex;
  color: var(--text-color);
  background-color: var(--contact-element-bg);
  border-radius: var(--border-radius-xl);
  box-shadow: 0px 0px 10px 3px var(--contact-element-shadow);
  overflow: hidden;
}

.contact-img-container {
  display: flex;
  position: relative;
  max-width: 50%;
  aspect-ratio: 1 / 1;
}

.contact-img-container img {
  object-fit: cover;
}

#contact-image-dark {
  position: absolute;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: opacity var(--transition-delay) ease;
}

html.dark #contact-image-dark {
  opacity: 1;
}

.contact-form-container {
  display: flex;
  flex-direction: column;
  gap: var(--space-m);
  padding: var(--space-ml);
  flex: 1;
}

form {
  display: flex;
  flex-direction: column;
  gap: var(--space-m);
}

.form-name-and-email {
  display: flex;
  flex-wrap: wrap;
  gap: var(--space-l);
}

.form-name-container,
.form-email-container,
.form-message {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
}

#form-submit-btn {
  width: fit-content;
  align-self: flex-end;
  margin-top: var(--space-s);
}

label {
  font-size: 0.875rem;
  font-family: 'Figrtee', sans-serif;
}

input,
textarea {
  margin-top: var(--space-xs);
  padding: var(--space-xs) var(--space-s);
  border-radius: var(--border-radius-xxs);
  font-family: 'Figtree', sans-serif;
  color: var(--text-color);
  border: 1px solid var(--input-border-color);
  background-color: var(--input-bg-color);
  resize: none;
}

::placeholder {
  color: var(--grayscale-20);
}

.contact-form-container img {
  max-width: 2.5rem;
  max-height: 2.5rem;
}

.contact-banner {
  display: flex;
  gap: var(--space-sm);
  margin-bottom: var(--space-s);
}

.contact-banner-text {
  display: flex;
  flex-direction: column;
  gap: var(--space-xs);
}

.banner-top-row {
  font-size: 1rem;
  line-height: 1.25rem;
  font-weight: bold;
}

.banner-bottom-row {
  font-size: 0.875rem;
  line-height: 1.25rem;
}

.separator {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.separator p {
  display: flex;
  align-items: center;
  width: 80%;
  gap: 1rem;
  color: var(--contact-separator);
  font-weight: bold;
}

.separator p::before,
.separator p::after {
  content: "";
  flex: 1;
  height: 1px;
  background: var(--contact-separator);
}

/* #endregion - Contact element */

/* #region - Contact method buttons */

.contact-method-container {
  display: flex;
  flex-wrap: wrap;
  gap: var(--space-m);
}

.contact-method {
  display: flex;
  flex: 1 1 calc(50% - 8px);
  justify-content: space-between;
  align-items: center;
  gap: var(--space-s);
  background-color: var(--contact-method-bg);
  border: 1px solid var(--input-border-color);
  border-radius: var(--border-radius-xs);
  padding: var(--space-sm) var(--space-m);
}

html.dark .contact-method {
  border: 1px solid var(--accent-color);
}

.contact-method-icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 1.5rem;
  width: 1.5rem;
  border: 1px solid var(--contact-method-icon);
  border-radius: var(--border-radius-xxs);
}

.contact-method-icon-container svg {
  color: var(--contact-method-icon);
}

.content-method-top-row {
  font-size: 0.75rem;
  line-height: 0.75rem;
  margin-bottom: 0.375rem;
  color: var(--contact-method-top-row);
}

.content-method-bottom-row {
  font-size: 0.875rem;
  line-height: 0.875rem;
  min-width: 18ch;
  white-space: nowrap;
}

#emailContact, 
#phoneContact,
#linkedInContact,
#githubContact {
  cursor: pointer;
}

.no-pointer {
  cursor: default !important;
}

a.contact-method {
  text-decoration: none;
  color: var(--text-color);
}

.contact-method svg {
  width: 60%;
  height: 60%;
}

/* #endregion */

@media (max-width: 767px) {
  .contact-element {
    flex-direction: column;
  }

  .contact-img-container {
    order: 2;
    max-width: 100%;
    max-height: 33%;
    object-fit: cover;
  }


}